<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div class="d-flex align-items-center flex-column justify-content-center" style="height: 500px;">
            <div class="mb-2">
                <h2>회원가입</h2>
            </div>
            <div class="card p-3" style="width: 350px;">
                <form th:method="POST" th:object="${joinMemberRequest}" th:action="@{/join}">
                    <div class="mb-3">
                        <label th:for="memberEmail" class="form-label">이메일</label>
                        <input type="email" class="form-control" th:field="*{memberEmail}">
                    </div>
                    <div class="mb-3">
                        <label th:for="memberPassword" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" th:field="*{memberPassword}">
                    </div>
                    <div class="mb-3">
                        <label th:for="memberNickname" class="form-label">닉네임</label>
                        <input type="text" class="form-control" th:field="*{memberNickname}">
                    </div>
                    <button class="btn btn-primary w-100" type="submit">회원가입</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>